<a href="https://colab.research.google.com/github/Aravind333-creator/python-notes/blob/main/B7_Note_Book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Module1-->Python

In [ ]:
#what is python?
"""1.most emerging and general purpose programming language
  2. High- level programming language
  3. object oriented programming language
  4. Dynamically typed programming language
  5.interpreted programming language"""

In [ ]:
#print a "Hello World!" program?
# use the "print()" is inbuilt function used to display your output
print("Hello world!")
#print your name
print("zenvius")

#Numerical data types in python

In [ ]:
#there are 3types of data types
#1. Integer---> int
#what is an integer?
#INT is a whole number either +ve or -ve without decimal points
print(10)
print(-5)
#i want to find the dtypes of above numbers
# use "type()" is a inbuilt function used to find your dtypes
print(type(10))
print(type(-5))

In [ ]:
#2.float:- ---> float
#what is a float?
#whole number either +ve or -ve with decimal points
print(10.5)
print(-5.5)
print(type(10.5))
print(type(-5.5))

In [ ]:
#complex number:- ----> complex
#what is a complex number?
#A real number with its imaginary part is known as complex number
#the imaginary has to be in "j" is known as "iota"
print(2+5j)
print(3+5j)
print(type(2+5j))

#Arthmetic opereators

In [ ]:
#There are 7 arthametic operators
#1.addition-->+
print(10 + 5)
print(type(10 + 5))
#2.substraction---> -
print(10 - 5)
print(type(10 - 5))
#3. multiplication---> *
print(10 * 5)
print(type(10*5))
#4. division---> /
print(10 / 5)
print(type(10/5))
#why the default data type for divison is float?
#in most of the divison operation the co-efficient you may get as a float sometimes or fixed numbers some time
#so it is easy to convert a float in to integer
#to get the actual or sufficient co-efficient the default dtype is float

In [ ]:
#5. Modulus---> %
# modulus is defined as remainder of the division
print(10 % 5)
print(type(10 % 5))
#to find even and odd data or number or prime numbers we are using modulus
print(236548243769 % 2)

In [ ]:
#6. exponential ---> **
#to the power off
print(2**3)
print(type(2**3))
#use **0.5
print(25**0.5)

In [ ]:
#7. floor divison--> //
#it ignores the values after the decimal point
print(10 / 3)
print(10 // 3)

**Round()**

In [ ]:
#what is round function()?
#round() can be executes if it is a decimal number
#if the decimal point is more than or equal to 0.5 then you get next upcoming value which is known as ceil value
#round() is used to print specific ndigitd
#what is a ceil value and floor value?

In [ ]:
print(round(6.6))
print(round(6.4321))
print(round(2.46))

In [ ]:
#round(number, count_ndigits)
print(round(345.2454873,4))

345.2455

In [ ]:
#when using -ve count then round function igenores the values after decimal point means it makes decimal point as a zero
print(round(-15345.98765,-5))

-0.0

**27-11-2024**

**Varaibels**

In [ ]:
#what is varaibles?
#varaibles are nothing but containers where we can store our valauable information or data and reuse it.
#How can we create a varaible?
#we can create varaibles by using alphabets
s = "Hello world!"
print(s)
print(type(s))

Hello world!
<class 'str'>

In [ ]:
#take 2 varaibles and apply all the arthametic operators?
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

*Types of Errors*

In [ ]:
#there are 2 types of errors
#1. Syntax error
#2. Logical error

In [ ]:
#what is syntax error?
#breaking the rules of the programming language can rise an syntax error
""" hi
good day!'''

In [ ]:
#what is logical error?
#except syntax error all the erros comes under logical error
#ex:- Name error, attribute error, indentation error, recurssive error...etc

**Rules to create varaibles**

In [ ]:
#1. start creating the varaible by using alphabets
a = 10
print(a)
h = "hello world!"
print(h)

10
hello world!

In [ ]:
#2. don't start creating the varaible by using numbers
2 = "hello"
5 = 10
print(2)

In [ ]:
#3. if you follow rule 1 and 2 you can use numbers in between varaible
son2age = 20
print(son2age)

20

In [ ]:
#4.don't use special characters in the varaible name
#@!$%^&*
son$age = 20
print(son@age)

In [ ]:
#5.we cannot use the white space in between varaibles
a b c = 10 20 30
print(a,b,c)
#Note:- if you want to separate the varaibles use (,)coma in between varaibles

In [ ]:
#6.we start creating the varaibles by using underscore(_) and instead of space we can use _
son_age = 20
print(son_age)
_ = "hello"
print(_)

20
hello

In [ ]:
#7. we cannot use the capital letters as a varaible name
SON_AGE = 20
print(SON_AGE)

In [ ]:
#what is dynamically typed programming language?
#we cannot define data type for varaibles
a = "hello wolrd!"
print(type(a))
#str[a] = "hello"
b = 10
print(type(b))

*Python is a case sensitive programming language*

In [ ]:
u = "hello"
print(U)

*Python is an interpreted programming language*

In [ ]:
#python executes the program step by step
a = 10
b = 30
a = 40
b = 20
print(a+b)

In [ ]:
#8. we cannot consider keywords as an varaible
#what is keyword?
#keywords are predefined words or names in python
#these are also part of your python syntax
#ex:- if, while,for,else,try,except,def...etc

In [ ]:
#how can you print overall keywords in python?
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']



```
# This is formatted as code
```

**smart ways of writing varaibles**

In [ ]:
#1.assign multiple values to multiple varaibles and print in separate line
#hint:- take three varaibles and print in seprate line
# a = 5
# b = 10
# c = 3
# print(a)
# print(b)
# print(c)
a,b,c = 5,10,3
print(a,b,c, sep="\n")  #sep is used to print actual o/p in seprate lines (backward slash 'n'(/n) means print o/p in next line)

In [ ]:
#2.assign single value to multiple varaibles and print in separate line
#hint :- take 3 varaibles
#a,b,c = 1  -->type error
# a = 1
# b = 1
# c = 1
a = b = c = 1
print(a,b,c, sep='\n')

1
1
1

#Input()

In [ ]:
#what is input()?
#its a user defined varaible
#it is a inbuilt function use to intake any kind of information from user and store it
#what is the purpose of input()?
#Multiple user valuable information or data intakes and low memory occupency
#enchance python performance
#How can we create input()?
a = input()
print(a)
print(type(a))
#what is the default data type for input()?
#string
#why the default dtpe for input() is string?
"""We don't know what type of information can be taken from thhe user, so the
class which accepts all the chracters is string.
string is the only class which is having collection of multiple characters"""

2+5j
2+5j
<class 'str'>

29-11-2024

In [ ]:
a = input("enter the number: ")
b = input("enter the number: ")
print(a+b)
#Note :- adding of two strings is known as concatenation

In [ ]:
#How can we apply the arthematic operations by using the input()'s?
#we need to mention the numeric data type for input() function
a = int(input("enter the number: "))
b = int(input("enter the number: "))
print(a+b)

In [ ]:
s = input("enter your valid email: ")
print(s)

#strings

In [ ]:
#what is a string?
#string is a collection of multiple characters which are declared inside (" ")(' ')
#any message that can be written inside the " " or ' ' is known as string

In [ ]:
print('hello world!')

hello world!

In [ ]:
#how many types of strings?
#single line string---> ('') or (" ")
#multiline string---->(""" """) or (''' or ''')

In [ ]:
#string is a collection of multiple characters where each character is accessible
#how can we declare the string?
#declared inside (" ")(' ')

In [ ]:
#How can we access the chracters inside the string?
#By Using indexes and slicing operator we can access the chracters inside the string

In [ ]:
#what is index?
#indexing means sequential postion number of each character in the string
#the indexing can be starts from '0'

In [ ]:
#what is slicing ?
#process of getting or accessing a substring from the mains tring
#slicing ------> []
#what is substring?
#a part of string from main string
#[index_position number]
#i want to print 1st chracter from below string?
h = "Hello world!"
print(h[0])
print(h[8])

In [ ]:
#print"hello" from the below string?
a = "Hello world!"
#[start:end]
print(a[0:5]) #end is always n+1
#Note:- slicing can be stop before the given end index position number
print(a[3:8])

In [ ]:
#print the even index position characters from the below string?
h = "Hello world!"
#[start:end:step]
print(h[0:12:2])

Hlowrd

In [ ]:
#How can we find the length of a string?
#by using len()
#in len() it starts with 1
print(len(h))
print(len(h)-1) #gives the last index

**negative indexing**

In [ ]:
#what is Negative indexing?
#accessing the string characters in reverse direction
#-ve is starts with -1
u = "hello world!"
print(u[11])
print(u[-1])

In [ ]:
#print the world! in reverse direction
#print(u[-1:-7:-1])
print(u[-1:-7])

In [ ]:
l = "hello world!"
print(l[-7:-1])

default indexing

In [ ]:
s = "Hello world!"
print(s)
print(s[:])
#what is defalut position number of start and end when we use default indexing
#[start is 0: end is len(string)]
print(s[::])
#[start is 0: end is len(string)]:step is 1]

In [ ]:
#malayalam"
k = input('enter your string: ')
print(k[::-1])
print(k[::2])

In [ ]:
#print(k[1::2][0:3]) #subslicing
#el ol!
print(k[1::2][-1:-3:-1])

!l

30-11-2024

In [ ]:
s = "Hello Team Good Morning!"
print(s[-1])
#print the even characters from the above string
# print(s[:])
# print(s[0:len(s):1])
print(s[::2])
#print the odd characters
print(s[1::2])

!
HloTa odMrig
el emGo onn!

In [ ]:
#check weather the given strings are palindrome or not
#"mom", madam, hyderabad, malayalam, karnatak
a = input()
print(a[::-1])

hyderabad
dabaredyh

**string methods**

In [ ]:
#The methods that are applicable for string is known as string methods
#how to find the methods that are applicable to string?
#use dir() which returns what are all methods applicable for any object(like string,list,tuple..etc)

In [ ]:
h = "hello world!"
#use dir()
print(dir(h))
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith',
'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum',
'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower',
'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join',
'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition',
'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip',
'swapcase', 'title', 'translate', 'upper', 'zfill' """

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#important methods
#1. upper()
#2. lower()
#3. count()
#4. replace()
#5. swapcase()
#6. strip()
#7. lstrip()
#8. rstrip()
#9. capitalize()
#10. title()
#11. find()
#12. index()

In [ ]:
a = "hello world!"
#how can we apply string methods?
print(a.capitalize())
print(a.lower())
print(a.upper())

Hello world!
hello world!
HELLO WORLD!

In [ ]:
h = "  hello world!   "
print(h)
print(h.strip()) #removes the unwanted spaces
print(h.lstrip())
print(h.rstrip())

In [ ]:
u = "hello world!"
#replace the above string "world" with universe
print(u.replace("world","universe"))
#replace("old_string","newstring")

hello universe!

In [ ]:
print(u.find("z"))
print(u.index('l'))

-1
2

In [ ]:
l = "hello team good morning , team"
print(l.count('team'))
#zfill()

2

In [ ]:
z = "hello"
print(z.zfill(6))

0hello

**string format methods**

In [ ]:
age = 10
txt = f"i am {age} years old"
print(txt,age)
#string formatting means it takes an argument and place it over the placeholder {}

i am 10 years old 10

In [ ]:
name = "product A"
quantity = 10
price_each = 99.9
notification = f"your order for {name} has been confirmed with an quantity of {quantity} and total price {price_each*quantity}/-"
print(notification)

your order for product A has been confirmed with an quantity of 10 and total price 999.0/-

**escape characters**

In [ ]:
#EC is used to print the illegal characters in the string -->it is decalred in backward slash(\) infront of illegal characters
a = "hi team \"good day\" hope you are doing well"
print(a)

hi team "good day" hope you are doing well

**02-12-2024**

**conditional statements**

In [ ]:
#what is conditional statments? and why we are using conditional statements?
#To check the condition is satisfied or not satisfied
# to make decision in programming we use conditional statements
#we are having 3 conditions
#if-->elif--->else

In [ ]:
#How can you make this conditions are satisfied or not satisfied
#How can we check the conditions?
#We are checking conditions based on "comaprision operators"
#what is comparison operators and how many types?
#comaprision operators also known as "relational operators"
#there 6 types
""" 1. equals too----> ==
    2. not equals too ---> !=
    3. greater than ----->   >
    4. less than ---->  <
    5. greater than or equals too-----> >=
    6. less than or equals too ----->   =< """

In [ ]:
#wrote a program to check weather the student is pass or fail
pass_marks = 40
student_marks= int(input("enter your marks: "))
if student_marks >= pass_marks:
  print("congratulation you are qualified")
else:
  print("Btter luck next time")

In [ ]:
#write a program to print weather the given number is +ve or negative if it is zero means print nuetral
a = int(input("enter the number: "))
if a>0:
  print("positive")
elif a == 0:
  print("neutral")
else:
  print("-ve")

In [ ]:
#write a program to tecj wether the given number is even or odd?
#if num is even print "even" or else print odd
a = int(input("enter your number: "))
if a % 2 == 0:
  print("even")
else:
  print("odd")

enter your number: 345
odd

In [ ]:
#check weather the given number is prime number or not?
#a = int(input("enter your number: "))

#check weather the given string is palindrome or not
#mom, malayalam,
a = "malayalam"
print(a[::-1])
print(a[0:9:-1])

malayalam

In [ ]:
print(round(7.25, -1))

10.0

**03-12-2024**

In [ ]:
#check weather the given string is palindrome or not irrespective of letter case
print("a" == "A")
print("Hello" == "hello")
print("MoM" == "mom")
a  = input("enter your string: ")
if a.lower() == a[::-1].lower():
  print("yes palindrome")
else:
  print("Not Palindrome")

**Logical Operators**

In [ ]:
#to check the multi0le conditions ata a time we need to use logical operators
#There are 3 types of logical operators
#1. and :- excutes the program when all the conditions are true
#2.or :- executes the program if any one condition is satisfied or true
#3. not :- it reverse your actual output
print(1 == 1)
print(not(1 == 1))

True
False

In [ ]:
#1. and :- excutes the program when all the conditions are true
a = 455
b = 56
c = 60
d = 25
#check that a is greater than c and b is greater than d and d is less than c
#if these conditions are true or satisfied print all the conditions satisfoed else print no condition satisfied
if a>c and b > d and d < c:
  print("all the conditions satisfied")
else:
  print("any one condition is not satisfied")

any one condition is not satisfied

In [ ]:
#2.or :- executes the program if any one condition is satisfied or true
a = 455
b = 56
c = 60
d = 25
#from above data check if any one condition is satisfied execute the program
#check a is less than b and b is less than c and c is greater than a and d is less than a
if a<b or b<c or c >a or d<a:
  print("true")
else:
  print("false")

true

In [ ]:
a = 455
b = 56
c = 60
d = 25
#from above data check if any one condition is satisfied execute the program
#check a is less than b and b is less than c and c is greater than a and d is less than a
if a<b or b<c or c >a or d<a and a > 300:
  print("true")
else:
  print("false")

true

In [ ]:
#write a program to check weather the user is eligible for adventure ride or not
#if the age is between 15 to 40 they are elgible for ride
#below 15 is not elgible for ride
#above 40 print please choose another ride
a = int(input("enter your age "))
if a>=15 and a<=40:
  print("eligible for ride")
elif a > 40:
  print("choose another ride")
else:
  print("not elgible for ride")

enter your age 41
choose another ride

**Nested Condition**

In [ ]:
#what is nested condition?
#writing a condition inside the another condition is known as nested condition
#why we require nested condition or when we have to use nested condition?
#A condition can be executed if the previous step or condition is satisfied
#if you want a series of outputs then we use Nested conditions
a = 5
#check if a is greater than 10,20,30,40,50,60
#print( a is greater than 10)
#print(a is greater than 20)
#print(a is greater than 30)
#print(a is less than 40)
if a > 10:
  print("a is greater than 10")
  if a> 20:
    print("a is greater than 20")
    if a > 30:
      print("a is greater than 30")
      if a > 40:
        print("a is greater than 40")
      else:
        print("a is less than 40")
    else:
      print("a is less than 30")
  else:
    print("a is less than 20")
else:
  print("a is less than 10")

a is less than 10

In [ ]:
#write a program Based on marks of the student print the grades
#if the student is getting marks from 40 to 50 ----> print "you have recived "d"grade"
#if the student is getting marks from 51 to 60 ----> print "you have recived "c"grade"
#if the student is getting marks from 61 to 70 ----> print "you have recived "B"grade"
#if the student is getting marks from 71 to 80 ----> print "you have recived "B+"grade"
#if the studen is getting marks from 81 to 90 ----> print "you have recived "A"grade"
#if the studen is getting marks from 91 to 100 ----> print "you have recived "A+"grade"
#if the studen is getting marks Than 100 ----> print "Don't be smart"
#write the code by using nested condition along with elif

**04-12-2024**

In [ ]:
#Loops
#loops are defined as SET of instructions or set of rules
#what is the purpose of loops?
#The purpose of loops is to avoid the duplicate codes
#loops encourages to write DRY codes and to avoid WET codes
#How many types of codes?
#2types
#WET codes---> write everything twice
#DRY Codes--> don't repeat yourself

In [ ]:
#How many types ?
#two types
#While loop
#for loop

**While loop**

In [ ]:
#what is while loop?
#while loop is a set of instructions, runs untile the condition remians true
target = 5
initial = 1
while initial <= target:
  print("go up")
  print("go down")
  print("=========rep completed=========")
  initial = initial + 1

In [ ]:
print(1 <= 5)
print(2 <= 5)
print(3 <= 5)
print(4 <= 5)
print(5 <= 5)
print(6 <= 5)

In [ ]:
#write a basic program to run a lift if the user is given 4 stop the lift at 4th floor
user_input = int(input("enter floor number: "))
intial =  1
while intial <= user_input:
  print(f'you are at {intial} floor')
  intial = intial + 1

enter floor number: 10
you are at 1 floor
you are at 2 floor
you are at 4 floor
you are at 8 floor

In [ ]:
#
a = [1,2,3,4,5,6,7,8,9]
#print multiples of 2 in above list
#[2,4,6,8,10,12,14,16,18]
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**for loop**

-->Running a set of instruction over the collections

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:            #i is known as iterator and process of iterationg is known as iterations
    print(i*2, end=",")   #end act like a delimeter is n othing but special character seprating each item in dataset

2,4,6,8,10,12,14,16,18,

In [ ]:
a,b,c = 10,20,30
print(a,b,c, sep='\n')

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:
  print("Hello world!")

In [ ]:
#
b = "Hello"
for i in b:
  print(b)

**Break and Continue**

In [ ]:
#Break:- it stops entire loop ireespective of items in the collections
num = [1,2,3,4,5,6,7,8,9]
for i in num:
  print(i)
  if i == 5:
    break

In [ ]:
#conitnue:- is used to skip the current iterations
num = [1,2,3,4,5,6,7,8,9]
for i in num:
  #skip the 3, 6, 9 from above collection and print all
  if i == 3 or i == 6 or i == 9:
    continue
  print(i,end=" ")
#Note:- we dob't have multiple breaks but we can skip multiple items at a time by using continue with 'or' operator

1 2 4 5 7 8

**range()**

In [ ]:
#range(end_number)
for i in range(11):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
#range(start, end)
for i in range(1,5):
  print(i)

In [ ]:
#range(start,end,step)
for i in range(0,100,2):
  print(i, end =",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

**05-12-2024**

#Collections

In [ ]:
#There are 4 types
#1. List
#2. Tuple
#3. set
#4. Dictionary

In [ ]:
#There are two types of data in the collections
#1. Heterogenous data:- it is a collection of multiple data items for ex:- int,float,complex,strings..etc
#2. Homogenous Data:-  it is a collection of only one  data type. for ex:- either int, either float

**List**

In [ ]:
#what is a list?
#list can be decalred in --> []-->each element in list is separated by (,)
#List is defined as---> ordered, Muttable, and allows duplicates

**List allows the duplicates**

In [ ]:
#lets create a list
l1 = ["apple","banana","kiwi","pineapple","watermelon","apple","pineapple"]
print(l1)
#what is the length of above list?
print(len(l1))

['apple', 'banana', 'kiwi', 'pineapple', 'watermelon', 'apple', 'pineapple']
7

**List is ordered**

In [ ]:
#what is ordered?
#elements or items in the collection is having a sequence of index position numbers
l2 = ["apple","banana","kiwi","pineapple","watermelon","apple","pineapple"]
#from the above list print "kiwi"
#[index_position number]
print(l2[2])

kiwi

In [ ]:
#from above list print a range of items from banana to watermelon
#[start_index:end_index] # end_index is always n+1
print(l2[1:5])

['banana', 'kiwi', 'pineapple', 'watermelon']

In [ ]:
#from above list i want even positional characters
#[start:end:step]
print(l2[0:7:2])
#similaralr print the odd position characters
print(l2[1:7:2])

['apple', 'kiwi', 'watermelon', 'pineapple']
['banana', 'pineapple', 'apple']

**Negative Indexing**

In [ ]:
#whta is -ve Indexing?
#accessing the elements from collection in reverse direction
#Negative indexing starts from -1
l3 = ['banana', 'kiwi', 'pineapple', 'watermelon']
print(l3[3])
print(l3[-1])

In [ ]:
#can we print the range of items by using negative indexing by giving start:end
# print(l3[-1:-4])
# print(l3[-1:-5:-1])
print(l3[-4:-1])
"""Note:- when we are using negative indexing if the index number is from left to
right direction then we no need to define the step value as -1 other wise
if we want to reeverse any collection from right to left  then in slicing we need
to define step as -1"""

**Default Indexing**

In [ ]:
#what is default indexing?
#By default [start is 0: end is len(collection): step is 1]
l4 = ['banana', 'kiwi', 'pineapple', 'watermelon']
# print(l4[:])
# print(l4[::])
print(l4[::2])
print(l4[1::2])
print(l4[::-1])   #it reverse entire collections

**List is Muttable**

Mutable means it follows three properities

-- swapping or replace items from your collections

-- Adding new items to the collection

-- remove items from the collection

In [ ]:

# swapping or replace items from your list
l5 = ['R','PYTHON','JAVA','C++','C']
#replace the "R" with .net
#Note:- By using the index position numbers we replace the items from the collection
l5[0] = ".net"
print(l5)

['.net', 'PYTHON', 'JAVA', 'C++', 'C']

In [ ]:
 #Additng new items to the existing list
#in above l5 add "css" in the list
print(dir(l5))
"""'append', 'clear', 'copy', 'count', 'extend', 'index',
'insert', 'pop', 'remove', 'reverse', 'sort'"""

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
#1st :- Append() by default it adds the items at the end of the list
#what is the default index position ehrn you add items in list by using append()?
l6 = ['.net', 'PYTHON', 'JAVA', 'C++', 'C']
l6.append('css')
print(l6)

['.net', 'PYTHON', 'JAVA', 'C++', 'C', 'css']

In [ ]:
#insert() :- it adds the items at particular index position?
l6.insert(2,'javascript')
l6

['.net', 'PYTHON', 'javascript', 'JAVA', 'C++', 'C', 'css']

In [ ]:
st = 'Happy Christmas and Happy new year'


x = st.rsplit("Happy")  # Split by "Happy"

print(x)

['', ' Christmas and ', ' new year']

In [ ]:
a = "hello world and hello"
print(a.split())
print(a.rsplit("hello"))

['hello', 'world', 'and', 'hello']
['', ' world and ', '']

In [ ]:
count = 0
for i in range(10):
    for j in range(-1, -10, -1):
         count += 1
    print(count)

In [ ]:
i = 0
while i < 5:
    print(i)
    # i += 1
    # if i == 3:
    #     break
    # else:
    #     i += 1

In [ ]:
if __name__ == '__main__':

Hello, World!

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**07-12-2024**

In [ ]:
#Adding new items to the existing list
#what are all methods we can apply on specific object?
l6 = ['R','PYTHON','JAVA','C++','C']
print(dir(l6))
#1.append():- by default i adds the items add the end of the list
l6.append('CSS')
l6
#cab we add multiple items at a time by using the append function
#we cannot add why because append() can takes only one argument
l7 = [1,2,3,4,5]
l6.append(l7)
l6

In [ ]:
#if i want to add the items at particular index position? what method we need to use?
l8 = [1,2,3,4,6,7,8,9]
#add the '5' at 4th index position
l8.insert(4,5)
l8
#syntax:- insert(index_position, element)
#can we insert multiple items at a time?
#No we cannot why beacuse insert can take only two arguments one is index position and another one is element

In [ ]:
#How can we add the multiple items to the exisiting list?
# use 'extend()' adds the multiple items from any collection to the existing list
l9 = ['R', 'PYTHON', 'JAVA', 'C++', 'C', 'CSS']
l10 = ['apple','banana','pineapple']
#add the l10 in to l9
l9.extend(l10)
print(l9)
#what is default index position when you use the extend()?
#the items are adding at the end of the existing list

['R', 'PYTHON', 'JAVA', 'C++', 'C', 'CSS', 'apple', 'banana', 'pineapple']

**Remove the Items from the list**

In [ ]:
#1. Pop() is used remove the items from the list and by default it removes last item of the list
l11 = ['R', 'PYTHON', 'JAVA', 'C++', 'C', 'CSS', 'apple', 'banana', 'pineapple']
l11.pop()

'pineapple'

In [ ]:
# print(l11)
l11.pop(-1)

'banana'

In [ ]:
#Note:- pop(index_position_num) to remove the particular item and by default it removes last item of the list
l11.remove() #we need to give atleast one argument

In [ ]:
#2. remove() is used to remove the pecific item, So remove(item_name) id doesn't take index position
#from above list remove the "R" Language
l11.remove('R')
print(l11)
#Note:- we cannot remove the multiple items at a time by using remove() method

['PYTHON', 'JAVA', 'C++', 'C', 'CSS', 'apple']

In [ ]:
#3.How can we remove multiple items from the list?
#  del collection_name[start:end:step]   by usine delete method
del l11[1:4]
l11

['PYTHON', 'CSS', 'apple']

In [ ]:
#4. i want to remove only items from the list
l12 = ['PYTHON', 'JAVA', 'C++', 'C', 'CSS', 'apple']
#use the  clear() to remove all the items from the list and print the empty list
#can we use del to remove entire items from the list---> yes we can use del method with slicing operator

l12.clear()
print(l12)

[]

In [ ]:
#5. how can we delete the entire list
# use "del collection_name"
del l12
print(l12)

**Tuple**

In [ ]:
#what is a tuple  and how to create this tuple?
#Tuple is decalred in ()
#Tuple is Ordered, Immutable, and allows the duplicates

**tuples allows the duplicates**

In [ ]:
t1 = ('apple','bananan','mango','apple','apple','pineapple')
print(len(t1))
print(type(t1))
print(t1)

6
<class 'tuple'>
('apple', 'bananan', 'mango', 'apple', 'apple', 'pineapple')

**Tuples are ordered**

In [ ]:
#In tuples the items are in sequence of index position number
#By using index_position number we can access the items from the tuple
print(t1[2])
print(t1[1:5])
#reverse the entire tuple
print(t1[::-1])

mango
('bananan', 'mango', 'apple', 'apple')
('pineapple', 'apple', 'apple', 'mango', 'bananan', 'apple')

**Tuple is Immutable**

In [ ]:
#we cannot replace, add and remove the items from tuple
print(dir(t1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
t1[4] = "watermelon"
print(t1)

In [ ]:
#How can we replace or add the items from the tuple
# we need to convert the tuple into list
t_l = list(t1)
print(t_l)

['apple', 'bananan', 'mango', 'apple', 'apple', 'pineapple']

In [ ]:
l_t = tuple(t_l)
print(l_t)

('apple', 'bananan', 'mango', 'apple', 'apple', 'pineapple')

In [ ]:
#Tuples are faster than the list beacuse tuples are immutable means tuples are having fixed memory size
#When we need to use tuple and list?
#Tuple are used to store valuable information where we won't do any changes to that data
#List is used when we need to manipulate the data

**09-12-2024**

**SET**

In [ ]:
#What is a set and how can we define a set?
#set can be decalred in ---> {}
#set are defined as ---> unordered, immutable, and won't allow the duplicates

**set won't allow the duplicates**

In [ ]:
s1 = {1,2,3,4,5,2,3,4,5,9}
#what is the length of the above set?
print(len(s1))
print(s1)

6
{1, 2, 3, 4, 5, 9}

**set is unordered**

In [ ]:
#what is unordered?
#unordered means the elements in the set doesn't have index position numbers
s2={"apple","banana","pineapple","apple","watermelon"}
#print the "pineapple" from the above set.
print(s2[2])   #'set' object is not subscriptable bcz set doesn't have index position number

**set is immutable**

In [ ]:
#In sets we can add the items and we can remove the items but we cannot replace the elements in the set
s2={"apple","banana","pineapple","apple","watermelon"}
s2[3] = "muskmelon"
print(s2)  #'set' object does not support item assignment

**Add items in the set**

In [ ]:
#add()
#add "muskmealon" in the s2
s2.add('muskmealon')
print(s2)

{'apple', 'muskmealon', 'pineapple', 'banana', 'watermelon'}

In [ ]:
#can we insert a element at particular index position?
#No

In [ ]:
print(dir(s2))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [ ]:
#How can we add the multiple items into set at a time?
# By Using the "update()" we can add multiple items in to set
l1 = [1,2,3,4,5,6]
s3= {'apple', 'muskmealon', 'pineapple', 'banana', 'watermelon'}
s3.update(l1)
print(s3)

{1, 2, 3, 4, 5, 6, 'watermelon', 'apple', 'muskmealon', 'pineapple', 'banana'}

**remove the items from the set**

In [ ]:
#pop() this method is not preferable in sets
s4= {1, 2, 3, 4, 5, 6, 'watermelon', 'apple', 'muskmealon', 'pineapple', 'banana'}
s4.pop()
print(s4)

{2, 3, 4, 5, 6, 'apple', 'muskmealon', 'pineapple', 'banana', 'watermelon'}

In [ ]:
s4.pop()

In [ ]:
#remove('item_name')
s4.remove('muskmealon')
print(s4)

{3, 4, 5, 6, 'apple', 'pineapple', 'banana', 'watermelon'}

In [ ]:
#discard('item_name')
s4.discard('banana')
print(s4)

{3, 4, 5, 6, 'apple', 'pineapple', 'watermelon'}

In [ ]:
#what is the difference between remove and discard?
"""when we use "remove()" if the items exist in set then it wont rise an error,other wise itthroughs an error
when we use "discard" even if the item exist or not it won't show an error"""

s4.remove('banana')
print(s4)

In [ ]:
s4.discard('banana')
print(s4)

{3, 4, 5, 6, 'apple', 'pineapple', 'watermelon'}

In [ ]:
#Note:-we cannot delete multiple items at a time in set.
#clear()
s4.clear()
print(s4)

set()

In [ ]:
del s4
print(s4)

In [ ]:
#why sets are faster then the list and tuple?
#Bcz set is unordered and immutable
#set are used in matrix operations

In [ ]:
s1 = {'a','b','c','d'}
s2 = {'d','e','f','g'}
s = s1.union(s2)
print(s)

{'a', 'f', 'e', 'd', 'b', 'c', 'g'}

In [ ]:
#print the common data elements from 2 sets
s = s1.intersection(s2)
print(s)

{'d'}

**Dictionary**

In [ ]:
#what is doctionary? or How can you define an dictionarey
#dictionary ---> {}
#dictinary is defined as unordered, muttable, it wont allow the duplicates
#How can we store items in the dictionary?
# Key: value pair

**dictionary wont allow the duplicates**

In [ ]:
d1 = {
    'Name':'shahul',
    'education': 'Ms',
    'occupation': 'DS',
    'education':'B.Tech'
}
print(len(d1))
print(d1)

3
{'Name': 'shahul', 'education': 'B.Tech', 'occupation': 'DS'}

**Dictionary is unordered**

In [ ]:
print(d1[2])

In [ ]:
#How can we access the items from the dictionary?
#By using the key names
d1['occupation']
d1['Name']

'shahul'

**Dictionary is muttable**

In [ ]:
#Add items to the dictionary
#add your fav  bike
d1['bike'] = 'RE'
print(d1)

{'Name': 'shahul', 'education': 'B.Tech', 'occupation': 'DS', 'bike': 'RE'}

**Replace the items from dictionaray**

In [ ]:
d1['Name'] = 'sks'
print(d1)

{'Name': 'sks', 'education': 'B.Tech', 'occupation': 'DS', 'bike': 'RE'}

**remove the items from dictionary**

In [ ]:
#Pop('key_name)
d1.pop('bike')
print(d1)

{'Name': 'sks', 'education': 'B.Tech', 'occupation': 'DS'}

In [ ]:
#clear()
d1.clear()
print(d1)

{}

In [ ]:
d2 = {
    'Name':'shahul',
    'education': 'Ms',
    'occupation': 'DS',
    'education':'B.Tech',
    'fruits' : ['apple','mango','banana','kiwi']
}
#in  above dict print only apple
print(d2['fruits'][0])

apple

In [ ]:
#replace the "kiwi" with 'dragonfruit'
d2['fruits'][3] = 'Dragon_fruits'
print(d2)

{'Name': 'shahul', 'education': 'B.Tech', 'occupation': 'DS', 'fruits': ['apple', 'mango', 'banana', 'Dragon_fruits']}

In [ ]:
print(dir(d1))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
#print only ghe keys from above dict?
print(d2.keys())
print(d2.values())

dict_keys(['Name', 'education', 'occupation', 'fruits'])
dict_values(['shahul', 'B.Tech', 'DS', ['apple', 'mango', 'banana', 'Dragon_fruits']])

In [ ]:
print(d2)
print(d2.items())

{'Name': 'shahul', 'education': 'B.Tech', 'occupation': 'DS', 'fruits': ['apple', 'mango', 'banana', 'Dragon_fruits']}
dict_items([('Name', 'shahul'), ('education', 'B.Tech'), ('occupation', 'DS'), ('fruits', ['apple', 'mango', 'banana', 'Dragon_fruits'])])

In [ ]:
del d2
print(d2)