<a href="https://colab.research.google.com/github/Aravind333-creator/python-notes/blob/main/Lab_session_Mysql_Python_Connector_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python connecting to Mysql

In [ ]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.1 MB 653.6 kB/s eta 0:00:25
   ---------------------------------------- 0.2/16.1 MB 2.0 MB/s eta 0:00:09
   - -------------------------------------- 0.5/16.1 MB 3.7 MB/s eta 0:00:05
   -- ------------------------------------- 0.9/16.1 MB 4.9 MB/s eta 0:00:04
   --- ------------------------------------ 1.3/16.1 MB 5.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.8/16.1 MB 6.5 MB/s eta 0:00:03
   ----- ---------------------------------- 2.4/16.1 MB 7.1 MB/s eta 0:00:02
   ------ --------------------------------- 2.8/16.1 MB 7.3 MB/s eta 0:00:02
   ------- -------------------------------- 3.1/16.1 MB 7.4 MB/s eta 0:00:02
   -------- ------------------------------- 3.6/16.1 MB 7.7 MB/s eta 0:00:02
   ---------- ----------------------------- 4.1/16.1 MB 7.9 MB/s eta 0:00:02
   ----------- ---------------------------- 4.5/16.1 MB 7.9 MB/s eta 0:00:02
   ------------ --------------------------- 5.0/16.1 MB 8.2 MB/s eta 0:00:02
   ------------- -------------------------- 5.5/16.1 MB 8.3 MB/s eta 0:00:02
   -------------- ------------------------- 5.9/16.1 MB 8.4 MB/s eta 0:00:02
   --------------- ------------------------ 6.3/16.1 MB 8.4 MB/s eta 0:00:02
   ---------------- ----------------------- 6.8/16.1 MB 8.6 MB/s eta 0:00:02
   ------------------ --------------------- 7.3/16.1 MB 8.6 MB/s eta 0:00:02
   ------------------- -------------------- 7.8/16.1 MB 8.8 MB/s eta 0:00:01
   -------------------- ------------------- 8.2/16.1 MB 8.7 MB/s eta 0:00:01
   --------------------- ------------------ 8.7/16.1 MB 8.8 MB/s eta 0:00:01
   ---------------------- ----------------- 9.2/16.1 MB 8.9 MB/s eta 0:00:01
   ------------------------ --------------- 9.7/16.1 MB 9.0 MB/s eta 0:00:01
   -------------------------- ------------- 10.5/16.1 MB 10.2 MB/s eta 0:00:01
   ---------------------------- ----------- 11.3/16.1 MB 10.7 MB/s eta 0:00:01
   ----------------------------- ---------- 12.1/16.1 MB 10.9 MB/s eta 0:00:01
   ------------------------------- -------- 12.7/16.1 MB 11.1 MB/s eta 0:00:01
   --------------------------------- ------ 13.5/16.1 MB 11.7 MB/s eta 0:00:01
   ----------------------------------- ---- 14.1/16.1 MB 11.9 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.1 MB 12.4 MB/s eta 0:00:01
   -------------------------------------- - 15.3/16.1 MB 12.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/16.1 MB 12.4 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 12.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

WARNING: There was an error checking the latest version of pip.

In [ ]:
import mysql.connector as sql

# Python connecting to MySql

In [ ]:
conn = sql.connect(user='root',password='1234',host='localhost')
# conn.close()

In [ ]:
if conn:
    print('Connected successfully')
else:
    print('Connection Not established')

Connected successfully

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute('show databases')

In [ ]:
db = cursor.fetchall()

In [ ]:
for i in db:
    print(i)

('customer',)
('customers',)
('information_schema',)
('joins',)
('mysql',)
('performance_schema',)
('profiles',)
('python_sql',)
('sakila',)
('sql_1',)
('sql_notes',)
('students',)
('sys',)
('world',)

In [ ]:
cursor.execute('CREATE DATABASE zen_lab')

In [ ]:
cursor.execute('show databases')
db = cursor.fetchall()
for i in db:
    print(i)

('customer',)
('customers',)
('information_schema',)
('joins',)
('mysql',)
('performance_schema',)
('profiles',)
('python_sql',)
('sakila',)
('sql_1',)
('sql_notes',)
('students',)
('sys',)
('world',)
('zen_lab',)

# selecting the database

In [ ]:
conn = sql.connect(user='root',password='1234',host='localhost',database = 'zen_lab')

cursor = conn.cursor()

In [ ]:
cursor.execute('show tables')
table = cursor.fetchall()
for i in table:
    print(i)

# Python mysql create table

In [ ]:
employee_data = """Create table employee(
Id integer NOT NULL PRIMARY KEY,
Name varchar(250) NOT NULL,
Dept varchar(250) NOT NULL,
Age integer NOT NULL,
Contact varchar(250) NOT NULL)"""

In [ ]:
result = cursor.execute(employee_data)

In [ ]:
cursor.execute('show tables')
table = cursor.fetchall()
for i in table:
    print(i)

('employee',)

In [ ]:
# How to insert the values to a table

In [ ]:
insert_employee = """insert into employee values(101,'shahul','CSE',25,'12545879'),
(102,'zen','Medical',27,'12644789')"""

In [ ]:
cursor = conn.cursor()

In [ ]:
result = cursor.execute(insert_employee)
conn.commit()

In [ ]:
select_employee = """Select * from employee"""
cursor = conn.cursor()
cursor.execute(select_employee)
result = cursor.fetchall()

In [ ]:
print(cursor.rowcount)

2

In [ ]:
for i in result:
    print(i)

(101, 'shahul', 'CSE', 25, '12545879')
(102, 'zen', 'Medical', 27, '12644789')

#  Python mysql update record(update)

In [ ]:
update_employee = """update employee set Name='Raj' where id = 101"""
cursor = conn.cursor()
cursor.execute(update_employee)
conn.commit()

In [ ]:
select_employee = """Select * from employee"""
cursor = conn.cursor()
cursor.execute(select_employee)
result = cursor.fetchall()

In [ ]:
for i in result:
    print(i)

(101, 'Raj', 'CSE', 25, '12545879')
(102, 'zen', 'Medical', 27, '12644789')

# Python my sql delete record(Delete)

In [ ]:
delete_employee = """delete from employee where id = 101"""
cursor = conn.cursor()
cursor.execute(delete_employee)
result = cursor.fetchall()
print(result)

[]

In [ ]:
select_employee = "Select * from employee"
cursor = conn.cursor()
cursor.execute(select_employee)
result = cursor.fetchall()

In [ ]:
for i in result:
    print(i)

(102, 'zen', 'Medical', 27, '12644789')